.header {
    color:blue;
    font-family: 'Courier New', Courier, monospace;
    background-color: burlywood;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font: bold;
    font-size: larger;
}